# DATABASE
POSTGRES_DB=pureflow
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/pureflow?schema=public

# REDIS
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis123

# JWT
JWT_ACCESS_SECRET=122333ACCESS333221
JWT_REFRESH_SECRET=333221REFRESH122333
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=12h

# MINIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=reports

# APP
NODE_ENV=development
API_PORT=8080
FRONTEND_PORT=3000
APP_URL=http://localhost:3000
API_URL=http://localhost:
LATE_LOG_THRESHOLD_DAYS=2